<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <!-- <link rel="icon" href=""> -->
    <link href="https://cdn.bootcss.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/login.css}" rel="stylesheet">
    <script src="https://cdn.bootcss.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
	<title>Sign up to continue</title>
</head>
<body class="text-center">
	<div class="form-signin" >
		<form action="#" th:action="@{/signup#}" th:object="${userAuth}" method="post">
			<h1 class="h3 mb-3 font-weight-normal">注册</h1>
			<label for="username">用户名/uid</label>
			<input id="uid" type="text" class="form-control" th:field="*{uid}" />
			<p th:if="${flag}==0">*uid不合法,正确的格式是6-24位字母，数字或下划线</p>
			<label for="password">密码</label>
			<input type="password"  class="form-control" th:field="*{password}"/>
			<p th:if="${flag}==3">*密码不合法,正确的格式是6-24位字母，数字或下划线</p>
			<p th:if="${flag}==2">*当前ip已注册过用户,不能重复注册</p>
			<button class="btn btn-lg btn-primary btn-block" type="submit">提交</button>		
		</form>
	</div>
</body>
</html>